<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>搜尋關鍵字</title>
  </head>

  <style>
      p {
          font-size: 150%;
          vertical-align: middle;
      }

      th {
          font-size: 160%;
          font-weight: bold;
      }

      td {
          font-size: 120%;
      }

      .navbar-brand {
          font-size: 28px;
      }
  </style>

  <body class = "bg-dark text-white">
    <h1>搜尋關鍵字</h1>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">功能列</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="http://140.134.60.56/static/index.html">搜尋網路聲量 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://140.134.60.56/count_eachUser_keyword_page/">觀察風向</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://140.134.60.56/user_name_page/">搜尋使用者</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://140.134.60.56/msg_search_engine">搜尋關鍵字</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">使用說明</a>
            </li>
            </ul>
        </div>
    </nav>
    
    
    <form class="form-inline" role="form" action="./" method="get">
        
        <div class="form-group">
          
            <label for="exampleInputEmail1">
                <p class="font-weight-bold">留言關鍵字:</p>
            </label>
            <input type="text" class="form-control" id="msg_like" name="msg_like">
          
        </div>
        
        <button type="submit" class="btn btn-primary">送出</button>
    </form>
    
    
    <table class="table table-striped table-dark">
        <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">帳號</th>
              <th scope="col">留言</th>
              <th scope="col">文章</th>
              <th scope="col">時間</th>
          </tr>
        </thead>
        <tbody>
            
            {% for msg in msg_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td> 
                        <a href= '../user_name_page/?user_name={{ msg.0 }}&msg_like={{ msg_like }}' target="_blank" class="text-white bg-dark"> {{ msg.0 }}  </a>
                    </td>
                    <td> {{ msg.1 }} </td>
                    <td> <a href= '{{msg.4}}' target="_blank" class="text-white bg-dark"> 
                        {% if msg.2 < 20 %}
                            <span class="badge badge-secondary">{{msg.2}}</span>
                        {% elif msg.2 >= 50 %}
                            <span class="badge badge-danger">{{msg.2}}</span>
                        {% elif msg.2 < 50 %}
                            <span class="badge badge-warning">{{msg.2}}</span>
                        {% endif %}
                        {{msg.3}} </a> </td>
                    <td> {{ msg.5 }} </td>

                </tr>
            {% endfor %}
        </tbody>
      </table>
      
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>